$assetPath: "/";
$fontPath: "#{$assetPath}fonts/";

$white: #fff;

$active: #FEB901;

$activeDarker: #E4A601;

$background: #EEEEEC;

$text-color: #333333;

$input-bg: $white;

$inactive-text: #999999;

$success: #0A9A3A;

$danger: #E04F28;

$normal: #323232